<h1>Counter Index</h1>


<div>
    Start here

    <form action="/count" method="post">
        <div class="counter" >
            {{result.counter1}}
        </div>    
        <input type="submit" value="Press button to count">
    
    </form>

</div>